# Remove Node modules
node_modules

# Remove your local database
*.db
*.db-journal

# Keep environment variables out of version control
.env

# Remove logs from the Firebase Emulators
firebase-debug.log
ui-debug.log

# Remove build folder
dist
